[submodule "VL.ImGui/dependencies/ImGui.NET-nativebuild"]
	path = VL.ImGui/dependencies/ImGui.NET-nativebuild
	url = https://github.com/vvvv/ImGui.NET-nativebuild.git
	branch = master
	
[submodule "TR.Stride"]
	path = TR.Stride
	url = https://github.com/tebjan/TR.Stride.git
	branch = vvvv-integration
